* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}

body {
  font-family: "Courier New", Courier, monospace;
  background-color: #fff;
}

.container {
  width: 85%;
  margin: 0 auto;
}

.header .header__wrapper {
  margin-top: 30px;
  display: flex;
  align-items: center;
  gap: 30px;
}
.header .header__wrapper .header__left img {
  width: 100%;
}
.header .header__wrapper .header__center {
  display: flex;
  align-items: center;
  gap: 10px;
}
.header .header__wrapper .header__center button {
  background-color: #E5E5FF;
  padding: 13px;
  width: 162px;
  border: none;
  border-radius: 8px;
  font-size: 18px;
  color: #8962FF;
  font-weight: 500;
  cursor: pointer;
}
.header .header__wrapper .header__center button:hover {
  background-color: #d4d6ff;
}
.header .header__wrapper .header__center .header__c__inp {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-between;
  padding: 12px;
  width: 500px;
  border: 1px solid rgb(159, 159, 159);
  border-radius: 5px;
  outline: none;
}
.header .header__wrapper .header__center .header__c__inp i {
  cursor: pointer;
}
.header .header__wrapper .header__center input {
  border: none;
  outline: none;
  width: 400px;
  font-size: 16px;
}
.header .header__wrapper .header__right {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 20px;
}
.header .header__wrapper .header__right .header__right__links {
  display: grid;
  grid-template-columns: auto auto;
  gap: 15px;
  background-color: transparent;
  border: none;
  font-size: 18px;
  align-items: center;
  padding: 12px;
  cursor: pointer;
  border-radius: 5px;
}
.header .header__wrapper .header__right .header__right__links p {
  font-size: 18px;
}
.header .header__wrapper .header__right .header__right__links:hover {
  background-color: rgb(196, 196, 196);
}

.navbar {
  margin-top: 30px;
}
.navbar .navbar__wrapper {
  display: flex;
  gap: 20px;
}
.navbar .navbar__wrapper p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  border-bottom: gray;
  padding-bottom: 5px;
}
.navbar .navbar__wrapper p:hover {
  border-bottom: 1px solid;
}

.carousel-container {
  padding-top: 40px;
  width: 80%;
  margin: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: var(--lx-gap);
}
.carousel-container .carousel {
  aspect-ratio: 16/9;
  width: 100%;
  position: relative;
  overflow: hidden;
}
.carousel-container .carousel .item {
  opacity: 0;
  width: 100%;
  height: 100%;
  display: none;
  transition: opacity 0.5s ease-in-out;
}
.carousel-container .carousel .item img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.carousel-container .carousel .item .caption {
  width: 100%;
  padding: var(--lx-space-01);
  position: absolute;
  bottom: 0;
  text-transform: uppercase;
  text-align: center;
  font-size: 12px;
  background-color: rgba(0, 0, 0, 0.5);
}
.carousel-container .carousel .item.active {
  opacity: 1;
  display: block;
}
.carousel-container .btn {
  padding: 1em 2em;
  position: absolute;
  transform: translateY(-50%);
  top: 50%;
  outline: none;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 900;
  color: #10100e;
  background-color: #7000FF;
  transition: transform 0.2s ease-in-out;
  border-radius: 8px;
  color: white;
}
.carousel-container .btn:active, .carousel-container .btn:focus {
  transform: translateY(-50%) scale(0.9);
}
.carousel-container .btn:hover {
  transform: translateY(-50%) scale(0.96);
}
.carousel-container .prev {
  left: -5%;
}
.carousel-container .next {
  right: -5%;
}
.carousel-container .dots {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.carousel-container .dots .dot {
  cursor: pointer;
  height: 10px;
  width: 10px;
  background-color: #242421;
  transition: background-color 0.2s ease;
}
.carousel-container .dots .dot.active, .carousel-container .dots .dot:hover {
  background-color: #ffffe6;
}

.popular {
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 100px;
}
.popular .popular__title {
  font-size: 25px;
  cursor: pointer;
}
.popular .popular__cards {
  margin-top: 50px;
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 40px;
}
.popular .popular__cards .card {
  width: 300px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px 0 #dedede;
  transition: all ease 0.4s;
  cursor: pointer;
}
.popular .popular__cards .card:hover {
  box-shadow: 0 0 20px 0 #dedede;
}
.popular .popular__cards .card img {
  width: 100%;
}
.popular .popular__cards .card .card__bottom {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.popular .popular__cards .card .card__bottom .un__card {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}
.popular .popular__cards .card .card__bottom .un__card button {
  border: none;
  background-color: transparent;
  font-size: 20px;
  cursor: pointer;
}

.footer {
  margin-top: 200px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 40px;
  border-bottom: 1px solid gray;
}
.footer .footer__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer .footer__wrapper .footer__first {
  display: flex;
  flex-direction: column;
  gap: 10px;
  cursor: pointer;
}
.footer .footer__wrapper .footer__second {
  display: flex;
  flex-direction: column;
  gap: 10px;
  cursor: pointer;
}
.footer .footer__wrapper .footer__third {
  display: flex;
  flex-direction: column;
  gap: 10px;
  cursor: pointer;
}
.footer .footer__wrapper .footer__fourth {
  display: flex;
  flex-direction: column;
  gap: 10px;
  cursor: pointer;
}

body {
  background-color: rgb(255, 255, 255);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.card__header {
  margin-top: 30px;
}
.card__header img {
  width: 20%;
}
.card__header h1 {
  color: #7000FF;
}
.card__header .card__header__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card__wrapper {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px;
  background-color: #dfdfdf;
}
.card__wrapper .card {
  width: 30%;
  height: 90vh;
  padding: 40px;
  background-color: #7000FF;
  box-shadow: 0 0 20px 0 #7000FF;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  border-radius: 20px;
}
.card__wrapper .card img {
  width: 20%;
}
.card__wrapper .card h1, .card__wrapper .card h2, .card__wrapper .card p {
  color: white;
  text-align: center;
}
.card__wrapper .card h2 {
  border-bottom: 3px solid white;
}
.card__wrapper .card button {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 192px;
  padding: 12px;
  border: none;
  border-radius: 10px;
  color: #7000FF;
  font-size: 16px;
  cursor: pointer;
  transition: all ease 0.4s;
}
.card__wrapper .card button:hover {
  background-color: transparent;
  color: white;
  border: 1px solid white;
}
.card__wrapper .card .card_promo {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
}
.card__wrapper .card .card_promo .input__promo {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.card__wrapper .card .card_promo .input__promo input {
  width: 160%;
  padding: 10px;
  border: none;
  border-radius: 8px;
  outline: none;
}