.footer{
    margin-top: 200px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 40px;
    border-bottom: 1px solid gray;
    .footer__wrapper{
        display: flex;
        align-items: center;
        justify-content: space-between;
        .footer__first{
            display: flex;
            flex-direction: column;
            gap: 10px;
            cursor: pointer;
        }
        .footer__second{
            display: flex;
            flex-direction: column;
            gap: 10px;
            cursor: pointer;
        }
        .footer__third{
            display: flex;
            flex-direction: column;
            gap: 10px;
            cursor: pointer;
        }
        .footer__fourth{
            display: flex;
            flex-direction: column;
            gap: 10px;
            cursor: pointer;    
        }

    }
}